.background {
  background: #06404D  ;
  background: linear-gradient(to bottom right,#06404D  50%, #10768B 60%);
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  overflow: hidden;
}
 
.title {
  background-color: #327374 ;
  color: #FCFCFC;
  text-align: center;
  width: 100%;
  position: absolute;
  padding-bottom: 8px;
 
}

.first-box {
  width:365px; 
  float:left; 
  background: #F8FFFE; 
  height: 80%;
  margin-top: 115px;
  margin-left: 30px;
  margin-right: 10px;
  font-size: 100%;
  
  
}

.first-box p {
  color: #000000;
  padding-left: 90px;
  padding-top: 3px;
  
}

.first-box-title  {
  color: #000000;
  text-align: center;

  
}

.second-box {
  width:60%; 
  height: 150px; 
  float:right; 
  height: 80%;
  margin-top: 115px;
  margin-left: 20px;
  margin-right: 30px;
  font-size: 100%;
  
  background: #F8FFFE; 
}


.second-box-title  {
  color: #000000;
  text-align: center;
  font-weight: bolder;	
  font-size: 130%;
}


.second-box p {
  color: #000000;
  padding-left: 10px;
  padding-top: 10px;
}



.mainpoint{

padding-left: 25px;
 padding-top: 20px;
  text-align: left;
   font-weight: bolder;


}



.topic{

font-size: 190%
padding-left: 20px;
 padding-top: 40px;
  text-align: center;
   font-weight: bolder;
  color: #062B64


}



.topic1{

font-size: 150%
padding-left: 20px;
 padding-top: 20px;
  text-align: center;
   font-weight: bolder;
  color: #062B64


}


.topic2{

font-size: 190%
padding-left: 20px;
 padding-top: 20px;
  text-align: center;
   font-weight: bolder;
  color: #062B64


}



.bulletpoint {


	padding-left: 30px;
   padding-top: 5px;
    text-align: left;
     font-weight: bolder;
}

.bulletpoint p {


  padding-left: 30px;
   padding-top: 5px;
    
       color:black;
   text-decoration: none; 
   background-color: none;
     
}
.link
{
   color:black;
   text-decoration: none; 
   background-color: none;
}